<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <experienceAnalytics>
      <aggregation>
        <dimensions>
          <dimension id="{84AF4324-8096-4A5E-9C5C-DBBE92D814D3}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceType, Sitecore.ExperienceAnalytics.Aggregation" set:type="Sitecore.Support.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceType, Sitecore.Support.103061" />
          <dimension id="{CC287753-DFF8-470A-B586-A23DA9B80ECA}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceModel, Sitecore.ExperienceAnalytics.Aggregation" set:type="Sitecore.Support.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceModel, Sitecore.Support.103061" />
        </dimensions>
      </aggregation>
      <reduce>
        <dimensions>
          <dimension id="{84AF4324-8096-4A5E-9C5C-DBBE92D814D3}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceType, Sitecore.ExperienceAnalytics.Aggregation" set:type="Sitecore.Support.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceType, Sitecore.Support.103061" />
          <dimension id="{CC287753-DFF8-470A-B586-A23DA9B80ECA}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceModel, Sitecore.ExperienceAnalytics.Aggregation" set:type="Sitecore.Support.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceModel, Sitecore.Support.103061" />
        </dimensions>
      </reduce>
      <api>
        <dimensions>
          <dimension id="{84AF4324-8096-4A5E-9C5C-DBBE92D814D3}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceType, Sitecore.ExperienceAnalytics.Aggregation" set:type="Sitecore.Support.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceType, Sitecore.Support.103061">
            <transformer textCasing="DeviceType" type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DefaultDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
          </dimension>
          <dimension id="{CC287753-DFF8-470A-B586-A23DA9B80ECA}" type="Sitecore.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceModel, Sitecore.ExperienceAnalytics.Aggregation" set:type="Sitecore.Support.ExperienceAnalytics.Aggregation.Dimensions.ByDeviceModel, Sitecore.Support.103061">
            <transformer type="Sitecore.ExperienceAnalytics.Api.Response.DimensionKeyTransformers.DeviceModelDimensionKeyTransformer, Sitecore.ExperienceAnalytics.Api" />
          </dimension>
        </dimensions>
      </api>
    </experienceAnalytics>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly id="Sitecore.Support.103061">/bin/Sitecore.Support.103061.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>